/* MENU FORMATTING */

.ddm1 {
    font: 11px tahoma;
}
.ddm1 .item1,
.ddm1 .item1:hover,
.ddm1 .item1-active,
.ddm1 .item1-active:hover {
	padding: 3px 8px 4px 8px;
	border: 0px #003366;
	border-style: solid none solid none;
	text-decoration: none;
	display: block;
	position: relative;
	left: 15px;
	visibility: inherit;
}
.ddm1 .item1 {
    color: #ffffff;
}
.ddm1 .item1:hover,
.ddm1 .item1-active,
.ddm1 .item1-active:hover {
    background: #C672F4;
    color: #ffffff;
}
.ddm1 .item2,
.ddm1 .item2:hover {
    padding: 3px 8px 4px 8px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.ddm1 .item2 {
    background: #3264C7;
    color: #ffffff;
}
.ddm1 .item2:hover {
    background: #6699FF;
    color: #ffffff;
}
.ddm1 .section {
    border: 1px #003366;
    border-style: solid solid solid solid;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    white-space: nowrap;
}
.ddm1 .left, .ddm1 .left:hover { border-style: solid none solid solid; }
.ddm1 .right, .ddm1 .right:hover { border-style: solid solid solid none; }

* html .ddm1 td { position: relative; } /* ie 5.0 fix */


/*STANDARD FORMATTING */
/*LINKS*/
A {
	text-decoration:none;
}
A.mainbody:visited {
	font-family: arial; 
	font-size:12px; 
	text-decoration:none;
	color:#003399;
}
A.mainbody:active {
	font-family: arial; 
	font-size:12px;
	text-decoration:none;
	color:#003399;
}
A.mainbody:link {
	font-family: arial; 
	font-size:12px;
	text-decoration:none;
	color:#003399;
}
A.mainbody:hover {
	font-family: arial; 
	font-size:12px;
	color: orange; 
	text-decoration:none;
}
A.small {
	font-size:11px;
	color:#003399;
	text-decoration:none;
}
A.small:visited {
	font-size:11px;
	color:#003399;
	text-decoration:none;
}
A.small:hover {
	font-size:11px;
	color:orange;
	text-decoration:none;
}
A.top {
	color:#808080;
	font-size:10px;
}
A.top:visited {
	color:#808080;
}
A.top:hover {
	color:blue;
}
A.nx-pv {
	color:orange; 
	text-decoration:none; 
	font-family:arial; 
	font-size:14px;
}
A.nx-pv:hover {
	color:blue; 
	text-decoration: underline; 
	font-family:arial; 
	font-size:14px;
}
A.titlelink, A.titlelink:visited { 
	font-family: arial; 
	font-weight:700; 
	font-size:14px; 
	color:#3264C7; 
	text-decoration:underline;
}
A.titlelink:hover { 
	font-family: arial; 
	font-weight:700; 
	font-size:14px; 
	color:orange; 
	text-decoration:underline;
}
/* OTHER */
.mainblock {
	color:black; 
	text-decoration:none; 
	font-family:arial; 
	font-size:12px;
	text-align: justify;
}
.question {
	color:black; 
	text-decoration:none; 
	font-family:arial; 
	font-size:14px;
	text-align: justify;
	word-spacing:normal;
}
.title1 { 
	font-family: arial; 
	font-weight:700; 
	font-size:14px; 
	color:#3264C7; 
	text-decoration:underline;
}
.header1 {
	color:white; 
	text-decoration:none; 
	font-style:bold; 
	font-family:arial; 
	font-size:12px;
}
.header2 {
	color:orange; 
	text-decoration:none; 
	font-family:arial; 
	font-size:12px;
}
.header3 {
	color:#3264C7; 
	text-decoration:none; 
	font-family:arial; 
	font-size:12px;
}
.join {
	color:white; 
	text-decoration:none; 
	font-style:bold; 
	font-family:arial; 
	font-size:14px;
}
.event {
	cursor:pointer;
	border: 0px #003366;
	background: #6699FF;
}
